/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
   margin:0;
   padding:0;
   box-sizing:border-box;
}


.react-calendar {
  width: 100%;
   background-color: #F6F6F6; /* Custom background color (gray-100) */
   border-radius: 0.375rem; /* Rounded corners */
   border: 1px solid #e2e8f0;
   padding: 2px; /* Optional: border to match styling */
 }
 
 .react-calendar__navigation { 
   border-radius: 0.375rem; 
   border-bottom: 1px solid #e2e8f0;
   display:flex;
   align-items: center;
   justify-items: start;
   
    /* Border for separation */
 }
 .react-calendar__navigation__label {
  order: 1; /* Place label in the middle */
}
.react-calendar__navigation__prev-button {
  order: 2; 
   
}
.react-calendar__navigation__next-button {
  order: 3;
  
}
 
 /* Style the tiles (days) */
 .react-calendar__tile {
   border-radius: 0.375rem;
  
   margin: 2px; /* Rounded corners for tiles */
 }
 
 /* Style the active tile */
 .react-calendar__tile--active {
   background-color: #0A1F4B; /* Background color for active tile */
   color: white; /* Text color for active tile */
   border-radius: 0.375rem;
   /* Rounded corners for active tile */
 }
 
 /* Optional: Style the tiles when hovered */
 
 
 .event-badge {
   position: absolute;
   bottom: 2px; /* Adjust the position as needed */
   right: 2px;
   background-color: #0A1F4B; /* Background color for events */
   color: white; /* Text color */
   padding: 2px 4px;
   border-radius: 3px;
   font-size: 0.75rem;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
 }
 .react-calendar__tile {
   position: relative; /* Position relative for badge positioning */
 }

 
 
 .highlighted-date {
   background-color: #0A1F4B; /* Background color for highlighted dates */
   color: white; /* Text color */
   border-radius: 50%; /* Make the date circle rounded */
   font-weight: bold; /* Bold text to stand out */
 }
 
 /* Optional: Add some padding and margin to make the highlighted dates look better */
 .react-calendar__tile--highlighted-date {
   padding: 2px;
   margin: 1px;
 }
 .react-calendar__navigation__next2-button,
 .react-calendar__navigation__prev2-button {
   display: none;
 }